Node-red-flow.json
[
{
"id":"d6ed15cd.094c08",
"type":"tab",
"label":"Flow 1",
"disabled":false,
"info":""},
{"id":"ee414077.0ba17",
"type":"tab",
"label":"Flow 2",
"disabled":true,
"info":""},
{"id":"1e07d17a.9b942f",
"type":"ui_tab",
"z":"",
"name":"CHATBOT",
"icon":"dashboard",
"disabled":false,
"hidden":false},
{"id":"96902863.285be8",
"type":"ui_group",
"z":"",
"name":"Cbot",
"tab":"1e07d17a.9b942f",
"order":1,
"disp":true,
"width":"6",
"collapse":false},
{"id":"d61e8334.b5321",
"type":"ui_group",
"z":"",
"name":"CUSTOMERCARE",
"tab":"1e07d17a.9b942f",
"order":2,
"disp":true,
"width":"6",
"collapse":false},
{"id":"9988e7cf.0a65c8",
"type":"ui_base",
"theme":{"name":"theme-dark",
"lightTheme":{"default":"#0094CE",
"baseColor":"#0094CE",
"baseFont":"-apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,Helvetica Neue,sans-serif",
"edited":true,
"reset":false},
"darkTheme":
{
"default":"#097479",
"baseColor":"#097479",
"baseFont":"-apple-system,
BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
"edited":true,
"reset":false},
"customTheme":
{
"name":"Untitled Theme 1",
"default":"#4B7930",
"baseColor":"#4B7930",
"baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
},
"themeState":
{
"base-color":{"default":"#097479","value":"#097479","edited":false},
"page-titlebar-backgroundColor":
{
"value":"#097479","edited":false},
"page-backgroundColor":{"value":"#111111","edited":false},
"page-sidebar-backgroundColor":{"value":"#000000","edited":false},
"group-textColor":{"value":"#0eb8c0","edited":false},
"group-borderColor":{"value":"#555555","edited":false},
"group-backgroundColor":{"value":"#333333","edited":false},
"widget-textColor":{"value":"#eeeeee","edited":false},
"widget-backgroundColor":{"value":"#097479","edited":false},
"widget-borderColor":{"value":"#333333","edited":false},
"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,
Cantarell,Helvetica Neue,sans-serif"}},
"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},
"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false",
"lockMenu":"false","allowTempTheme":"true",
"dateFormat":"DD/MM/YYYY",
"sizes":{"sx":150,"sy":100,"gx":30,"gy":30,"cx":30,"cy":30,"px":30,"py":30}}},
{"id":"f7a52024.9949e","type":"ui_form","z":"d6ed15cd.094c08","name":"","label":"","group":"d61e8334.b5321","order":1,
"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text",
"required":true,"rows":null}],
"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":200,
"wires":[["b0c1148a.634338"]]},
{"id":"7c9e8380.6f5c3c","type":"ui_text","z":"d6ed15cd.094c08","group":"d61e8334.b5321","order":2,
"width":0,"height":0,"name":"",
"label":"User input","format":"{{msg.payload}}",
"layout":"col-center","x":530,"y":360,"wires":[]},
{"id":"e045f658.92f788","type":"ui_text","z":"d6ed15cd.094c08","group":"d61e8334.b5321","order":3,"width":0,"height":0,
"name":"","label":"Output",
"format":"{{msg.payload}}","layout":"col-center","x":850,"y":340,"wires":[]},{"id":"7f9a8881.84ee48",
"type":"watson-conversation-v1","z":"d6ed15cd.094c08","name":"Chatbot","workspaceid":"34892f98-b41d-4284-a491-5900c8f9a645",
"multiuser":false,"context":true,"empty-payload":false,
"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e1d3bda2-f224-4f5c-8fb0-a1d018a92aaa",
"timeout":"","optout-learning":false,"x":480,"y":140,"wires":[["9b76d2b7.8202b","2c02718f.6f95ce"]]},
{"id":"b0c1148a.634338","type":"function","z":"d6ed15cd.094c08","name":"",
"func":"msg.payload = msg.payload.text;\nreturn msg;",
"outputs":1,"noerr":0,"x":310,"y":280,
"wires":[["7c9e8380.6f5c3c","7f9a8881.84ee48"]]},{"id":"9b76d2b7.8202b","type":"function","z":"d6ed15cd.094c08","name":"",
"func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,

"wires":[["e045f658.92f788"]]},
{"id":"2c02718f.6f95ce","type":"debug","z":"d6ed15cd.094c08","name":"","active":true,"tosidebar":true,"console":false,
"tostatus":false,"complete":"payload",
"targetType":"msg","x":730,"y":60,"wires":[]},{"id":"107456ce.dbf309","type":"function","z":"ee414077.0ba17","name":"",
"func":"msg.payload = msg.payload.text;\nreturn msg;",
"outputs":1,"noerr":0,"x":340,"y":300,"wires":[["ba3fdc4d.a91e","90af54af.d82008"]]},{"id":"ba3fdc4d.a91e",
"type":"ui_text","z":"ee414077.0ba17",
"group":"96902863.285be8","order":2,"width":0,"height":0,"name":"","label":"user input","format":"{{msg.payload}}",
"layout":"col-center","x":540,"y":420,"wires":[]},{"id":"1b33c25c.d1aace","type":"ui_text","z":"ee414077.0ba17",
"group":"96902863.285be8","order":3,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}",
"layout":"col-center",
"x":860,"y":400,"wires":[]},
{"id":"dc2892fa.6d904","type":"ui_form","z":"ee414077.0ba17","name":"","label":"","group":"96902863.285be8","order":1,
"width":0,"height":0,
"options":[{"label":"Enter the input",
"value":"Text","type":"text","required":true,"rows":null}],"formValue":{"Text":""},"payload":"","submit":"submit","cancel":"cancel",
"topic":"","x":120,"y":260,
"wires":[["107456ce.dbf309"]]},{"id":"90af54af.d82008","type":"watson-conversation-v1","z":"ee414077.0ba17","name":"","workspaceid":"",
"multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":520,"y":160,
"wires":[["3aef920d.09dabe","cd834e82.2c90b"]]},{"id":"3aef920d.09dabe","type":"debug","z":"ee414077.0ba17","name":"","active":true,
"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":120,"wires":[]},
{"id":"cd834e82.2c90b","type":"function","z":"ee414077.0ba17","name":"",
"func":"msg.payload = msg.payload.output.text[0];\nreturn msg;",
"outputs":1,"noerr":0,"x":760,"y":280,"wires":[["1b33c25c.d1aace"]]
}
]